<?xml version="1.0"?>
<launch>
	<!-- Uncompressing logitech cam -->
	<node name="republish" pkg="image_transport" type="republish" args="compressed in:=/Logitech_webcam/image_raw _image_transport:=compressed raw out:=/Logitech_webcam/image_raw" respawn="false" output="screen">
	</node>

	<node name="image_raw" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/Logitech_webcam/image_raw"/>
		<param name="autosize" value="false" />
	</node>

	<!-- Makes pedestrian detector node. Change between the good and the bad detector by changing the model dir. -->
	<node type="pedestrian_detector_node" name="ped" pkg="pedestrian_detector_ros" respawn="true" output="screen">
		<param name="model_dir" value="$(find pedestrian_detector_ros)/pedmodels/LdcfInriaDetector.mat" />

		<!--LdcfInriaDetector.mat or  AcfInriaDetector.mat /-->
		<param name="imageResize" value="0.75" />
		<param name="cameraHeight" value="0.27" />
		<param name="angleTiltDegrees" value="0.0" />
		<param name="topic_image_in" value="/Logitech_webcam/image_raw" />
	</node>

	<!-- Makes viewing node for showing detected pedestrians. -->
	<node name="image_view_PedestrianDetection" pkg="image_view" type="image_view" respawn="false" output="screen">
			<remap from="image" to="/ped/imageWithBBox"/>
			<param name="autosize" value="false" />
	</node> 

	
</launch>
